body {
  /* width: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}

/* TYPOGRAPHY */

h1 {
  font-size: 3rem;
  color: #212614;
}

h1 span {
  color: #b7832f;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

/* LAYOUT */

img {
  max-width: 100%;
  width: 100%;
  height: 25%;
}

.container {
  max-width: 980px;
  width: 90%;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.col {
  border: solid 1px red;
  margin: 1em 0;
  /* margin: 0.3em 0.6em;
  padding: 0 0.2em; */
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-bottom {
  width: 75%;
}

.col-side {
  background-color: #312614;
  color: #fff;
  padding: 0.5em;
}
