/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */
body {
  margin: 0 auto;
  font-family: "Lora", serif;
  /* font-size: 14; */
}

.container {
  margin: 0 auto;
  background-color: aquamarine;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}

.title {
  border: solid red 1px;
  font-family: "Lora", serif;
}

.subtitle {
  font-family: Ubuntu bold;
}

.nav {
  border: solid black 1px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid pink;
  padding: 0;
}

nav li {
  border: 2px solid yellow;
  margin: 0 1em;
}

nav a {
  border: 2px solid green;
}

nav a:hover {
}
