/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

@import url("https://fonts.googleapis.com/css?family=Lora:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap");

/* TYPOGRAPHY */

body {
  margin: 0 auto;
  border: solid 1px navy;
  /* height: 100vh; */
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}

strong {
  font-weight: 700;
}

/* logo subtitle */
.subtitle {
  font-family: Ubuntu bold;
  font-weight: 700;
  font-size: 0.75rem;
  color: #1792d2;
  margin: 0;
}

li > a {
  font-weight: 600;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}

.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

/* LAYOUT */

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #f8f8f8;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  text-align: center;
  margin-bottom: 3em;
}

/* @media (min-width = 675px) {
  header {
    background-color: #1792d2;
  }
} */

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
  }
  main {
    width: 75%;
  }
  aside {
    width: 20%;
  }
}

/* NAVIGATION */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

nav li {
  /* border: 2px solid yellow; */
  margin-left: 2em;
}

nav a {
  /* border: 2px solid green; */
  text-decoration: none;
  color: #707070;
  /* font-weight: 1400; */
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1.4px solid #707070;
  padding: 0.1em;
}

@media (max-width: 675px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  nav li {
    margin: 0.4em 0;
    /* color: red; */
  }
}

/* ARTICLES */
.article-info {
  margin: 2em 0 2em 0;
}

.article-featured {
  padding-bottom: 2em;
  border-bottom: 1px solid #707070;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

/* THIS REORDERS THE CONTENTS OF RECENT ARTICLES */

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}

/* THIS WILL CHANGE LOCATION OF ARTICLE TITLE AND INFO BASED ON SCREEN SIZE */

/* @media (min-width: 500px) {
  .article-info {
    text-align: right;
  }
  .article-recent-main {
    margin-top: -3.2em;
  }
} */

@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }
  .article-recent-main {
    width: 65%;
    position: flex;
  }
  .article-recent-secondary {
    width: 30%;
  }
  .article-featured {
    display: flex;
    flex-direction: column;
  }
  .article-featured > img {
    order: -2;
  }

  .article-featured > .article-info {
    order: -1;
  }
}

/* FOOTER */
