* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #2c3552;
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  color: #66a1d2;
  background: #1a2623;
  font-size: 21px;
}

.landing-page {
  height: 100vh;
  text-align: left;
  padding-top: 10rem;
  background-image: url("./images/kawasaki-jet-ski-sx-r-4.jpg");
  background-size: cover;
}
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  background-color: #2c0452cc;
  border-radius: 5px;
  /* margin-top: ; */
}

.container > a {
  color: #2c0452cc;
  background-color: rgb(6, 186, 218);
  border-radius: 3px;
  padding: 1rem;
}

.main-page {
  text-align: center;
}

.columns {
  display: flex;
}

.col {
  background-color: #2c0452;
  margin: 0.8rem;
  border-radius: 5px;
}

.col-image {
  border-radius: 5px;
  padding-top: 0.5rem;
}
