html {
  background-color: palegoldenrod;
  /* margin: 20px;
  width: 80%; */
}
body {
  margin: 0 auto;
  width: 100vw;
}

.container {
  /* margin: 2em; */
  border: solid thin black;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 3px;
}

.container > div {
  color: palegoldenrod;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > div:nth-child(1n) {
  background-color: paleturquoise;
}

.container > div:nth-child(2n) {
  background-color: palevioletred;
}

.container > div:nth-child(4n) {
  background-color: gold;
}
