.container {
  /* height: 90vh; */
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px 200px 40px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main {
  grid-column-start: 1;
  grid-column-end: 2;
}

.menu {
  background-color: palegreen;
}

.content {
  background-color: palevioletred;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}
